body,
 h1,
 h2,
 p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
 }
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1900px;
  margin: 0 auto; 
  padding: 0px; 
  background-image: url('Photo\ 4.4.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

/* CSS for the navbar */
.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: background-color 0.3s;
  padding: 10px 20px; 
}


/* CSS for the logo */
.logo {
  display: flex; 
  align-items: center;
  color: white;
}

/* CSS for the logo text */
.logo h2 {
  margin-right: 20px;
  font-weight: lighter;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  border: 1px solid transparent;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: lighter;
  
}

.nav-links a:hover {
  border-color: #333;
  background-color: #333;
  padding: 10px;
  border-radius: 0px;
}


/* CSS for the hamburger menu */
.hamburger-menu {
  display: none; 
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {


  .nav-links {
      display: none;
  }

  .hamburger-menu {
      display: flex;
  }


  .nav-links.active {
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%;
      text-align: center;
  }

  .nav-links.active li {
      padding: 10px 0;

      
  }

  .nav-links a{
    display: flex;
    flex-direction: column;

  }

  .nav-links a:hover {

    padding: 0px;
    border-radius: 0px;
  }
}


/* CSS for the section */
.secone {
  position: relative;
  height: 100vh; 
  background-color: rgba(255,255,255,0);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  
}

/* CSS for the overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  display: flex; 
  justify-content: center;
  align-items: center;
}

/* CSS for the content in Section 2 */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content2{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.content3{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 125px;
}

/* CSS for text in Section 2 */
.text {
  font-size: 50px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

/* CSS for images in Section 2 */
.img {
  max-width: 100%;
  height: auto;
}

.arrow span {
  font-size: 50px;
  font-weight: lighter;
  font-family: 'Lobster', cursive;
  
}

/* CSS for the email-button */
.email-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:  #333;
  color: white;
  border: 2px solid #333;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin-top: 20px;
  cursor: grab;
}

.email-button:hover {
  background-color: white;
  color:  #333 ;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    overflow-x: auto;
  }
  .secone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
      padding: 0px;
      font-size: 24px;
      
  }
  .sectwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    font-size: 24px;
}
.secthree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  font-size: 24px;
}
.secfour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  font-size: 24px;
}

.secfive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  font-size: 24px;
}

.secsix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  font-size: 24px;
}
}

.sectwo {
  padding: 50px;
  height: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.left-content{
  padding: 25px;
  text-align: left;
  text-align: center;
    
}
.right-content {
    padding: 25px;
    text-align: left;
    margin-right: 50px;
  
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media (max-width: 200px) {
  .right-content{
    font-size: 10px;
  }
  .logo{
    display: none;
  }
}

@media (max-width: 768px) {
  .logo{
    display: none;
  }
  .content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .content3{
    height: 100%;
  }
  .right-content{
    margin-right: 0px;
  }
  

}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  width: 75%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skills span {
  /* border: 1px solid white; */
  margin-right: 5px;
  /* margin-bottom: 10px; */
  /* padding: 2px; */
  /* line-height: 1.5; */
}

.secthree{
  padding: 50px;
  height: 100%;
  
  background-color: #333;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.categories {
  margin-bottom: 20px;
  line-height: 50px;
}

.categories a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  
}

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.work-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  background-color: #484547;
  border: 1px solid white;
}

.WorkImg {
  max-width: 100%;
  height: 100%;
  
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

/* css for 4th screen */
.secfour {
  padding: 50px;
  height: 100%;
  background-color: #D8D1CC;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  margin-right: 50px;
}

.item {
  flex: 1;
  max-width: 45%;
  padding: 5px;
  text-align: center;
 
}

.FiverrImg,
.ClientImg,
.item img {
  width: 65%;
  height: auto;
  border-radius: 20px;
}



.left-contentitem{
  padding: 15px;
  text-align: left;
  text-align: center;
    
}
.right-contentitem{
    font-size: 20px;
    padding: 15px;
    text-align: justify;
    margin-right: 20px;
  
}


@media (max-width: 768px) {
  
  .row,
  .content4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .item{
    font-size: 15px;
  }

  .row{
    margin-right: 0px;
  }
  .FiverrImg,
  .ClientImg,
  .item img {
    width: 75%;
    height: auto;
    border-radius: 20px;
  }

 .right-contentitem p{
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
 }
 .InterestImg{
  height: 15vh;
 }
}

.secfive {
  padding: 50px;
  height: 100%;
  background-color: #2A292B;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.interest-item {
  text-align: center;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.InterestImg,
.interest-item img {
  border-radius: 10px;
  max-width: 100%;
  height: 50vh;
  width: 38vh;

}

.content5 {
  padding: 20px;
}

.interest-container {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: space-around;
  overflow-x: auto; 
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
  .interest-container {
    flex-direction: column;
    align-items: center;
    
  }

  .interest-item {
    width: 90%;
    max-width: 90%;
    margin-bottom: 20px;
    
  }

  .InterestImg{
    width: 1000vh;
    
  }
}

.secsix {
  padding: 50px;
  height: 100%;
  background-color: #2A292B;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.left-content3,
.right-content3 {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.left-content3 form {
  max-width: 400px;
  margin: 0 auto;
  width: 125%;
}

.form-group {
  margin-bottom: 5px;
  width: 100%;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
}

.form-group input[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}

.social-icons a {
  text-decoration: none;
  color: white;
  margin-right:  20px;

}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .left-content3,
  .right-content3 {
      max-width: 100%;
  }

  .left-content3 form{
    width: 100%;
  }

  .social-icons a{
    margin-right: 0px;
  }
}

/* text animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.secone .content {
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
  transform: translateY(20px); 
}

/* navbar animation */
@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.navbar {
  animation: slideInDown 1s ease forwards;
  transform: translateY(-100%);
}


.work-item-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: transform 0.3s ease; 
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  line-height: 1.5; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.work-item-container:hover .overlay-text {
  opacity: 1;
}

.work-item-container:hover {
  transform: scale(1.1);
}


.work-item-container2 {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: transform 0.3s ease;
}


.overlay-text2 {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 15px;
}


.work-item-container2:hover .overlay-text2 {
  opacity: 1; 
}

.work-item-container2:hover {
  transform: scale(1.1); 
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.arrow span {
  display: inline-block;
  cursor: pointer;
  animation: bounce 1s infinite;

}

